/* font-family: 'Space Grotesk', sans-serif */

.fix-menu {
    position: fixed;
    z-index: 99;
    height: 54px;
    background-color: #fff;
    border-bottom: 1px solid #494949;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    transform: translateY(-54px);
    transition: transform 0.25s linear
}

.fix-menu .logo img{
    width: 200px;
    height: 100%;
    margin-left: 30px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 13px;
    height: 64px;
    border-bottom: 1px solid #000;
}

.logo {
    display: inline-block;
}

.logo img {
    display: inline-block;
    width: 242px;
    height: 100%;
}

/* MAIN-MENU */

.menu-list {
    background-color: #fff;
    display: flex;
    list-style: none;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.menu-item {
    position: relative;
}

.menu-item:last-child {
    background-color: #e7e7e7;
}

.menu-item:hover .menu-item-link {
    background-color: #c4c4c4;
    color: #101010;
    text-decoration: none;
    transition: .35s ease-in;
}

.menu-item:hover > .sub-menu {
    background-color: #c4c4c4;
    text-decoration: none;
    display: block;
}

.menu-item:hover i {
    transform: rotate(180deg);
    transition: transform .5s;
}

.menu-item-link {
    color: #101010;
    display: inline-block;
    text-transform: uppercase;
    padding: 22px 7px;
    font-size: 13px;
}

.menu-item-link i {
    margin-left: 7px;
}

/* SUB-MENU */
.sub-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 64px;
    right: 0;
    display: none;
    z-index: 10;
}

.sub-menu-item {
    position: relative;
    width: 200px;
}

.sub-menu-item:hover .sub-menu-item-link {
    background-color: #fff;
    color: #101010;
    text-decoration: none;
    transition: .3s ease-in;
}

.sub-menu-item-link {
    color: #101010;
    display: inline-block;
    text-transform: uppercase;
    padding: 23px 7px;
    font-size: 15px;
    width: 100%;
}

.medias {
    display: flex;
    width: 147px;
    margin-bottom: 10px;
}

.media {
    width: 25%;
    text-align: center;
}

.media i {
    font-size: 20px;
    width: 100%;
}

.intro-title {
    text-align: center;
    margin: 0;
    padding: 46px 0;
    font-weight: 330;
    line-height: normal;
    font-size: 42px;
}

.intro-img {
    display: block;
    width: 100%;
    height: 478px;
    object-fit: cover;
}

/* BODY */
.main-content {
    display: flex;
    justify-content: center;
    padding: 35px;
}

.cooking {
    display: flex;
    justify-content: center;
}

.cooking-title {
    font-weight: 350;
    font-size: 35px;
    margin-bottom: 30px;
}

.ingredients {
    width: 35%;
}

.instructions {
    width: 65%;
}

.ingredients-list {
    margin: 0 85px 0 37px;
    border-bottom: 1px solid #000;
}

.instructions-list {
    width: 100%;
    padding-right: 20px;
    counter-reset: li;
    list-style: none;
}

.instructions-list > .instructions-item {
    position: relative;
    margin: 0 0 6px 30px;
    padding: 0 0 0 20px;
    list-style: none;
    margin-bottom: 30px;
    min-height: 30px;
    color: #101010;
}

.instructions-list > .instructions-item::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 0px;
    left: -50px;
    width: 40px;
    margin-right: 10px;
    padding: 0;
    color: #101010;
    line-height: 26px;
    letter-spacing: 0.2px;
    text-decoration: none;
    text-transform: none;
    font-weight: 700;
    text-align: right;
    font-size: 26px;
}

.instructions-item {
    border-left: 1px solid #343434;
}

.ingredients-item,
.instructions-item {
    font-size: 18px;
    margin-bottom: 23px;
    line-height: 28px;
    font-weight: 350;
}

.tip {
    font-size: 17px;
    margin-top: 10px;
}

.join-link {
    font-size: 17.5px;
    font-weight: 700;
}

/* FOOTER */
.top-footer {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 46px 38px;
    display: flex;
    justify-content: space-between;
}

.medias.large-medias-icon {
    margin: 0;
}

.medias.large-medias-icon .media i{
    font-size: 25px;
    line-height: 54px;
}

.btn-sign-up {
    border: 1px solid #000;
    border-radius: 7px;
    line-height: 54px;
    text-align: center;
    color: #000;
    font-weight: 100;
}

.btn-sign-up i {
    margin-left: 10px;
}

.mid-footer {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    border-bottom: 1px solid #494949;
}

.mid-footer-item {
    padding: 25px 35px;
    font-size: 12px;
    border-right: 1px solid #494949;
    color: #494949;
}

.mid-footer-item:last-child {
    border: 0;
}

.bot-footer {
    padding: 46px 196px;
}

.footer-title {
    font-size: 20px;
    font-weight: 900;
}

.footer-text-link {
    font-size: 13px;
    margin-left: 30px;
    margin-top: 80px;
}

.footer-link {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.cate-title {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 16px 10px;
    margin: 0;
    font-weight: 350;
    font-size: 18px;
}

.filter {
    background-color: #C4C4C4;
    padding: 5px 0;
}

.cate-item {
    display: inline-block;
    font-size: 13.5px;
    text-transform: uppercase;
    font-weight: 350;
    margin: 6px 12px;
    line-height:normal;
}

