/* font-family: 'Space Grotesk', sans-serif */

.fix-menu {
    position: fixed;
    z-index: 99;
    height: 54px;
    background-color: #fff;
    border-bottom: 1px solid #494949;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    transform: translateY(-54px);
    transition: transform 0.25s linear
}

.fix-menu .logo img{
    width: 200px;
    height: 100%;
    margin-left: 30px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 13px;
    height: 64px;
    border-bottom: 1px solid #000;
}

.logo {
    display: inline-block;
}

.logo img {
    display: inline-block;
    width: 242px;
    height: 100%;
}

/* MAIN-MENU */

.menu-list {
    background-color: #fff;
    display: flex;
    list-style: none;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.menu-item {
    position: relative;
}

.menu-item:last-child {
    background-color: #e7e7e7;
}

.menu-item:hover .menu-item-link {
    background-color: #c4c4c4;
    color: #101010;
    text-decoration: none;
    transition: .35s ease-in;
}

.menu-item:hover > .sub-menu {
    background-color: #c4c4c4;
    text-decoration: none;
    display: block;
}

.menu-item:hover i {
    transform: rotate(180deg);
    transition: transform .5s;
}

.menu-item-link {
    color: #101010;
    display: inline-block;
    text-transform: uppercase;
    padding: 22px 7px;
    font-size: 13px;
}

.menu-item-link i {
    margin-left: 7px;
}

/* SUB-MENU */
.sub-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 64px;
    right: 0;
    display: none;
    z-index: 10;
}

.sub-menu-item {
    position: relative;
    width: 200px;
}

.sub-menu-item:hover .sub-menu-item-link {
    background-color: #fff;
    color: #101010;
    text-decoration: none;
    transition: .3s ease-in;
}

.sub-menu-item-link {
    color: #101010;
    display: inline-block;
    text-transform: uppercase;
    padding: 23px 7px;
    font-size: 15px;
    width: 100%;
}

.medias {
    display: flex;
    width: 147px;
    margin-bottom: 10px;
}

.media {
    width: 25%;
    text-align: center;
}

.media i {
    font-size: 20px;
    width: 100%;
}

.intro {
    text-align: center;
    padding-top: 58px;
}

.intro-title {
    font-size: 41.5px;
    font-weight: 350;
    margin-bottom: 25px;
}

.intro-text {
    font-size: 17px;
    padding: 0 100px;
    font-weight: 400;
    line-height: 31px;
}


/* BODY */
.main-content {
    padding: 35px;
}

.recipes {
    padding: 0 25px;
}

.recipes .row {
    padding: 20px 0 0 0;
    border-top: 1px solid #494949;
    margin-bottom: 37px;
    justify-content:flex-start;
}

.row:last-child {
    margin-bottom: 0;
}

.card-recipe {
    width: 293px;
    min-width: 293px;
    height: 660px;
    margin: 0 10px;
    text-align: left;
    position: relative;
}

.card-recipe-link {
    display: block;
}

.card-recipe-img {
    width: 100%;
    height: 160px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.recipe-title {
    font-size: 25px;
    font-weight: 350;
    margin-top: 25px;
    line-height: 33px;
}

.recipe-content {
    margin-top: 12px;
    font-weight: 360;
    font-size: 17px;
    line-height: 27px;
}

.keywords {
    font-size: 14px;
    font-weight: 650;
    margin-top: 15px;
}

.keyword {
    color: #000;
    margin-right: 25px;
}

.keyword:hover {
    color: #000;
}

.recipes-link {
    position: absolute;
    display: block;
    height: 56px;
    background-color: #494949;
    color: #fff !important;
    line-height: 56px;
    text-align: center;
    border-radius: 7px;
    transition: 0.4s ease-in;
    bottom: 0;
    left: 0;
    right: 0;
}

.recipes-link:hover {
    background-color: #101010;
} 

/* FOOTER */
.top-footer {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 46px 38px;
    display: flex;
    justify-content: space-between;
}

.medias.large-medias-icon {
    margin: 0;
}

.medias.large-medias-icon .media i{
    font-size: 25px;
    line-height: 54px;
}

.btn-sign-up {
    border: 1px solid #000;
    border-radius: 7px;
    line-height: 54px;
    text-align: center;
    color: #000;
    font-weight: 100;
}

.btn-sign-up i {
    margin-left: 10px;
}

.mid-footer {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    border-bottom: 1px solid #494949;
}

.mid-footer-item {
    padding: 25px 35px;
    font-size: 12px;
    border-right: 1px solid #494949;
    color: #494949;
}

.mid-footer-item:last-child {
    border: 0;
}

.bot-footer {
    padding: 46px 196px;
}

.footer-title {
    font-size: 20px;
    font-weight: 900;
}

.footer-text-link {
    font-size: 13px;
    margin-left: 30px;
    margin-top: 80px;
}

.footer-link {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.cate-title {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 16px 10px;
    margin: 0;
    font-weight: 350;
    font-size: 18px;
}

.filter {
    background-color: #C4C4C4;
    padding: 5px 0;
}

.cate-item {
    display: inline-block;
    font-size: 13.5px;
    text-transform: uppercase;
    font-weight: 350;
    margin: 6px 12px;
    line-height:normal;
}

