.m-ct-l {
    margin-bottom: 80px;
}

.m-ct-m {
    margin-bottom: 60px;
}

.btn-l{
    width: 240px;
    height: 54px;
}

.btn-s {
    width: 201px;
    height: 55px;
}

/* LIST ACTIVE */
.currentMenuItem::after {
    content: "";
    height: 4px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}